<div class="container">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{conf?.title | uppercase}}</span>
    </div>
  </nav>

  <div class="row ">
    <button class="btn m10 s2 offset-s10" (click)=addTasks()>Dodaj </button>
    <button class="btn  s2 offset-s10">Zakończ</button>
    <span class="mydate">{{conf?.date | date:'yy.MM.dd HH:mm':'':'pl'}}</span>
  </div>

  <div class="row">
    <input
      class="col s8"
      type="text"
      placeholder="Dodaj zadanie i datę wykonania"
      (keyup)="0"
      #mname
    />
    <input class="col s3 disabled" type="date" (change)="0" #mdate />
    <button class="btn-floating addbtn" (click)="addTasks(mname.value,mdate.value);mname.value=''"
    [disabled]="mname.value==='' || mdate.value===''"
    >+</button>
  </div>

  <ul class="collection">
    <li class="collection-item row" *ngFor="let task of tasks; let i=index">
      <span class="col s10">{{i+1}}. {{task.name}} - {{task.deadline |date:'yyyy.MM.dd EEEE'}}</span>
      <div class="col s2 right-align">
        <button class="btn-floating btn-small red">
          <i class="material-icons" (click)=removeTask(i)>remove</i>
        </button>
        <button class="btn-floating btn-small green ml-5">
          <i class="material-icons">check</i>
        </button>
      </div>
    </li>
    <li class="collection-item row">
      <span class="col done">Sprzątanie kuwet</span>
    </li>
  </ul>

  <h1>Dzisiaj brak zadań :-) {{conf?.happy ? 'Jestem happy' : 'Nie jestem happy'}}</h1>

  <div class="row">
  <button class="btn s2 col offset-s10" (click)="clearTasks()">Wyczyść</button>
</div>
  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">
        {{getDate() | date:'yyyy'}} {{Footer}} 
        <!--
          {{getPerson().nazwisko}}
          {{numb | number:'3.3'}} 

        <div *ngFor="let item of translate | keyvalue">
          {{item.value}}
        </div>
          {{title | slice: 2}}
          {{lista | slice:0:3}}
        -->



      </div>
    </div>
  </footer>
</div>
